node_modules/
lib/smartcan/target/
lib/smartcan/**/*.rs.bk
lib/smartcan/Cargo.lock
lib/smartcan/bin/
lib/smartcan/pkg/
lib/smartcan/wasm-pack.log
client/node_modules
client/.pnp
client/.pnp.js
client/coverage
client/build
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*